node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
GoogleService-Info.plist
google-services.json
functions/node_modules/
functions/lib/
*.log
.DS_Store
